body {
	background-color: #eee;
	height: 400px;
	width: auto;
}

.row {
	background: #fff;
	margin: 4em auto;
	width: 16em;
	height: 13em;
	font-size: 22px;
	border-radius: 5px;
	color: #eee;
	text-align: center;
}

img {
	left: 1;
	border-radius: 50%;
	width: 50%;
	left: 0;
	align-items: baseline;
}